<%- include('../includes/head.ejs') %>
    <div class="container">
        <%- include('./dashboard-includes/sidebar.ejs') %>
            <main class="main setFooter">
                <%- include('./dashboard-includes/topbar.ejs') %>
                    <!-- WORKSPACE NAME HEADER -->
                    <div style="padding:20px;width:97%;display:flex; justify-content:space-between; align-items: center;border-bottom: 1px solid rgba(51, 51, 51, 0.539); margin: auto;"
                        class="dashboard-header">
                        <%var AllPath='/admin/allSurveys' %>
                            <%if(path===AllPath ){%>
                                <%if(searchSurvey){%>
                                    <h2 class="pageHeading"><a style="color: blue;" href="/admin/allSurveys">All
                                            Surveys</a> / <%=searchSurvey%>
                                    </h2>
                                    <%}else{%>
                                        <h2 class="pageHeading">All Surveys</h2>
                                        <%}%>
                                            <%}else{%>
                                                <h2 class="pageHeading">Surveys</h2>
                                                <%}%>
                                                    <a class="btn2 newSurveyBtn" href="/newSurvey"> Start New Survey <i
                                                            class="bi bi-plus-square-fill"></i></a>
                    </div>

                    <!-- RECENT SURVEYS -->
                    <%if(surveys.length){%>
                        <div style="padding:10px 20px; color:gray; padding-bottom: 0;display:flex; justify-content:space-between; align-items: center;width:
                    97%;margin: auto;">
                            <%if(path===AllPath ){%>
                                <div style="margin: 10px;width: 100%;" class="searchBar">
                                    <form action="/admin/searchSurvey" method="POST">
                                        <input value="<%= searchSurvey%>" type="text" placeholder="Search Surveys"
                                            name="searchSurvey" id="">
                                        <button type="submit" class="btn2">
                                            <i class="bi bi-search"></i>
                                        </button>
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                    </form>
                                </div>
                                <%}else{%>
                                    <h2>Your Surveys</h2>
                                    <%}%>
                        </div>
                        <%if(path===AllPath ){%>
                            <%if(searchSurvey){%>
                                <p style="text-align: center;margin: 20px;color: #333;font-size:25px">
                                    <%=surveys.length%> matching <%= (surveys.length===1?'result':'results')%> for
                                            <span style="color: blue;">
                                                <%= searchSurvey%>
                                            </span>
                                </p>
                                <%}%>
                                    <%}%>
                                        <!-- Surveys -->
                                        <%- include('./dashboard-includes/surveys-list.ejs') %>
                                            <%}else{%>
                                                <%if(path===AllPath ){%>
                                                    <%if(searchSurvey){%>
                                                        <p
                                                            style="text-align: center;margin: 20px;color: #333;font-size:25px">
                                                            No
                                                            Result
                                                            Found for
                                                            <span style="color: blue;">
                                                                <%= searchSurvey%>
                                                            </span>
                                                        </p>

                                                        <%}else{%>
                                                            <p style="margin: 20px;color: #333;font-size:25px">
                                                                No
                                                                Surveys To
                                                                Show</p>
                                                            <%}%>
                                                                <%}else{%>
                                                                    <p style="margin: 20px;color: #333;font-size:25px">
                                                                        Welcome
                                                                        to
                                                                        SurveyIt, Start creating your custom
                                                                        surveys !!
                                                                    </p>
                                                                    <%}%>
                                                                        <%}%>
            </main>
    </div>
    <%- include('./dashboard-includes/footer.ejs') %>
        <script src="/js/adjustHeight.js"></script>
        <%- include('../includes/end.ejs') %>