<%- include('../includes/head.ejs') %>
    <div class="container">
        <%- include('./dashboard-includes/sidebar.ejs') %>
            <main class="main setFooter">
                <%- include('./dashboard-includes/topbar.ejs') %>
                    <!-- WORKSPACE NAME HEADER -->
                    <div style="padding:20px;width:97%;display:flex; justify-content:space-between; align-items: center;border-bottom: 1px solid rgba(51, 51, 51, 0.539); margin: auto;"
                        class="dashboard-header">
                        <h2 class="pageHeading">
                            <a style="color: blue;" href="/admin/users">Users</a> / <%= user.firstName%>
                                <%= user.lastName%>
                        </h2>
                        <a class="btn2 newSurveyBtn" href="/newSurvey"> Start New Survey <i
                                class="bi bi-plus-square-fill"></i></a>
                    </div>
                    <!-- Users Table -->
                    <article class="responses-container" style="margin: 20px; width: 90%;margin: 20px auto;">
                        <div class="responses-header">
                            <h2 style="color: #333;">User Details
                            </h2 style="color: #333;">
                        </div>
                        <div class="flex-user-data">
                            <div class="userImage">
                                <%if(user.image){%>
                                    <img style="object-fit: cover;" src="<%= user.image%>" alt="">
                                    <%}else{%>
                                        <img src="/img/UserThumbnail.png" alt="">
                                        <%}%>
                            </div>
                            <div class="gird-user-data">
                                <p><span>First Name: </span>
                                    <%=user.firstName%>
                                </p>
                                <p><span>Last Name: </span>
                                    <%=user.lastName%>
                                </p>
                                <p><span>Email: </span>
                                    <%=user.email%>
                                </p>
                                <p><span>Account Type: </span>
                                    <%=user.userType%>
                                </p>
                                <p><span>Date Created: </span>
                                    <%=user.dateCreated%>
                                </p>
                                <p><span>Time Created: </span>
                                    <%=user.timeCreated%>
                                </p>
                                <p><span>Surveys: </span>
                                    <%=surveys.length%>
                                </p>
                            </div>
                        </div>

                    </article>


                    <%if(surveys.length){%>
                        <div
                            style="padding:10px 20px; color:gray; padding-bottom: 0;display:flex; justify-content:space-between; align-items: center;width:
                                                                                                                        97%;margin:auto;">
                            <h2 style="margin:20px 0">Surveys By <%= user.firstName%>
                            </h2>
                        </div>
                        <%- include('./dashboard-includes/surveys-list.ejs') %>

                            <%}else{%>
                                <p style="margin: 20px;color: #333;font-size:25px">No Surveys Created
                                </p>
                                <%}%>

            </main>
    </div>
    <script src="/js/adjustHeight.js"></script>

    <%- include('./dashboard-includes/footer.ejs') %>
        <%- include('../includes/end.ejs') %>