<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <main>
            <section>
                <div style="  background: rgb(255, 255, 255);" class="showcase-1">
                    <h1>Get insights quickly, with SurveyIt</h1>
                    <p>Easily create and share online forms and surveys, and analyze responses in real-time.</p>
                    <div>
                        <a style="font-size: 16px;" href="/signup" class="btn4">Get Started - it's free</a>
                    </div>
                    <div class="showcase-1-img">
                        <img src="/img/responses.png" alt="">
                    </div>
                </div>
            </section>
            <section>
                <div class="showcase-2">
                    <h1>Create <span>forms</span>, <span>surveys</span>, and <span>quizzes</span> that people
                        enjoy
                        answering
                    </h1>
                </div>
            </section>
            <section id="features">
                <h1>See What You Can Do With SurveyIt</h1>
                <!-- 1 -->
                <div class="showcase-3">
                    <div class="showcase-3-survey-content">
                        <h2>
                            One dashboard for all tasks
                        </h2>
                        <p>A dashboard designed by SurveyIt developers to provied you the best user experience you can
                            get. Withing few clicks you can create, edit or delete a form, share using link or
                            share on SurveyIt Website, view responses filled by your audience</p>
                    </div>
                    <div class="showcase-3-image">
                        <div>
                            <img class="shadow-img" src="/img/showcase-3-1.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <div class="showcase-3">
                    <div class="showcase-3-survey-content">
                        <h2>
                            Create an online form as easily as creating a document
                        </h2>
                        <p>Select from multiple question types, duplicate questions, and customize values
                            as easily as pasting a list. Edit forms or save for later using SurveyIt</p>
                    </div>
                    <div class="showcase-3-image">
                        <div>
                            <img src="/img/showcase-3-2.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- 3 -->
                <div class="showcase-3">
                    <div class="showcase-3-survey-content">
                        <h2>
                            Share surveys via email, link, or website
                        </h2>
                        <p>Share your surveys or forms to your audience via link or you can select share globally in
                            survey settings to display your surveys on SurveyIt website
                            engagement</p>
                    </div>
                    <div class="showcase-3-image">
                        <div>
                            <img class="shadow-img" src="/img/showcase-3-3.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- 4 -->
                <div class="showcase-3">
                    <div class="showcase-3-survey-content">
                        <h2>
                            Create and respond to surveys from anywhere
                        </h2>
                        <p>Access, create, and edit forms on-the-go, from screens big and small. Others can respond to
                            your survey from wherever
                            they are—from any mobile device, tablet, or computer.
                        </p>
                    </div>
                    <div class="showcase-3-image">
                        <div>
                            <img src="/img/showcase-3-5.png" alt="">
                        </div>
                    </div>
                </div>
                <!-- 5 -->
                <div class="showcase-3">
                    <div class="showcase-3-survey-content">
                        <h2>
                            Send polished surveys and forms
                        </h2>
                        <p>Add Customize thumbnail for your form to adjust the look and feel or reflect your
                            organization’s branding. And add custom
                            logic that shows questions based on answers, for a more seamless experience.</p>
                    </div>
                    <div class="showcase-3-image">
                        <div>
                            <img src="/img/showcase-3-4.png" alt="" class="shadow-img">
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <a style="font-size: 16px;" href="/login" class="btn4">
                        Create New
                        Survey</a>
                </div>
            </section>

            <section id="globalSurveys">
                <h1>Surveys shared globally on SurveyIt</h1>
                <div class="searchBar">
                    <form action="/searchSurvey" method="POST">
                        <input type="text" placeholder="Enter survey details" name="searchSurvey" id="">

                        <button type="submit" class="btn2">
                            <i class="bi bi-search"></i>
                        </button>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    </form>
                    <%if(message){%>
                        <p style="margin: 14px  ;color: rgb(169, 22, 22);text-align: center;">
                            <%=message%>
                        </p>
                        <%}%>
                </div>
                <br>
                <%- include('../includes/surveys.ejs') %>
            </section>


        </main>
        <%- include('../includes/end.ejs') %>