<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <main style="min-height: 100vh;">
            <section id="globalSurveys">
                <h1>Surveys shared globally on SurveyIt</h1>
                <div class="searchBar">
                    <form action="/searchSurvey" method="POST">
                        <input value="<%= searchSurvey%>" type="text" placeholder="Enter survey details"
                            name="searchSurvey" id="">
                        <button type="submit" class="btn2">
                            <i class="bi bi-search"></i>
                        </button>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    </form>
                </div>
                <br>
                <%if(surveys.length){%>
                    <h1 style="font-size: 24px;">
                        <%if(surveys.length===1){%>
                            1 matching result for <span style="color: blue;">
                                <%= searchSurvey%>
                            </span>
                            <%}else{%>
                                <%= surveys.length%> matching results for <span style="color: blue;">
                                        <%= searchSurvey%>
                                    </span>
                                    <%}%>
                    </h1>
                    <%- include('../includes/surveys.ejs') %>
                        <%}else{%>
                            <h1 style="font-size: 24px;">No matching results for <span style="color: blue;">
                                    <%= searchSurvey%>
                                </span>
                            </h1>
                            <%}%>

            </section>


        </main>
        <%- include('../includes/end.ejs') %>